[submodule "HTML-Table-Reference"]
	path = HTML-Table-Reference
	url = https://github.com/SeanYang816/HTML-Table-Reference
[submodule "sunnyside-agency-landing-page-main"]
	path = sunnyside-agency-landing-page-main
	url = https://github.com/SeanYang816/sunnyside-agency-landing-page-main
[submodule "countdown-timer-project"]
	path = countdown-timer-project
	url = https://github.com/SeanYang816/countdown-timer-project
[submodule "Weather-Application"]
	path = Weather-Application
	url = https://github.com/SeanYang816/Weather-Application
[submodule "Style-Guide"]
	path = Style-Guide
	url = https://github.com/SeanYang816/Style-Guide
[submodule "number-guesser-project"]
	path = number-guesser-project
	url = https://github.com/SeanYang816/number-guesser-project
